<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        🌸 关于 SoundLink
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"> <!--show-->
      <div class="accordion-body">
        SoundLink 目前只提供Bambi Sleep相关音频的在线服务，你可以通过SoundLink便捷地创建你的BS播放列表。
        SoundLink在未来也会提供播放列表的分享功能等。
        <br>SoundLink网站的源代码目前已在 GitHub 开源，请查看<a href="https://github.com/ViteMux/SoundLink" target="_blank">这里</a>。
        <br><br>如果你对SoundLink有疑问或建议，可通过vitemux@proton.me与我联系。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        💖 什么是 Bambi Sleep
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">

        更多信息请查看<a href="https://bambisleep.blogspot.com/" target="_blank"> Bambi Sleep官方网站 </a>或<a href="https://bambisleepcn.blogspot.com/" target="_blank"> BSCN </a>。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        🍀 关于中文音频来源
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        由于精力原因，我无法找到BS中文音频的所有作者，如果你是这些音频的制作者请通过vitemux@proton.me与我取得联系。
        感谢你对Bambi Sleep的精彩创作。
      </div>
    </div>
  </div>
</div>