<div class="pb-5">
    <div class="card-group pe-3">
        <div class="card shadow-lg mt-3 ms-3" style="border-radius: 1em">
            <div class="card-body">
                <h5 class="card-title">欢迎🎉</h5>
                <p class="card-text">你可以通过SoundLink在线收听Bambi Sleep系列。对于BS音频的使用方式和安全性的建议可通过点击下方按钮查看。</p>
                <a href="https://bambisleepcn.blogspot.com/2023/09/bambi-sleep.html" class="btn btn-primary">Bambi
                    Sleep使用指导</a>
            </div>
        </div>
        <div class="card shadow mt-3 ms-3" style="border-radius: 1em">
            <div class="card-body">
                <h5 class="card-title">Bambi 状态</h5>
                <p class="card-text"></p>
                <!-- <div class="progress" style="height: 20px;" role="progressbar" aria-label="Danger striped example"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    Lv.0 <div class="progress-bar progress-bar-striped bg-danger" style="width: 15%">15%</div>
                </div> -->
                <div class="alert alert-warning mt-3" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                      </svg>
                      <strong>登录后可追踪和查看 Bambi 进度。</strong>
                    <br><button type="button" class="btn btn-primary mt-2" disabled>登录</button>
                    SoundLink 目前已停止注册和登录
                </div>
            </div>
        </div>
    </div>

    <div class="list-group list-group-light m-2 m-lg-5">
        <button type="button" class="list-group-item list-group-item-action px-3 border-0"
            onclick="loadContent('/playlist/6IOxCp7uh6');return false;">
            <div class="fw-bold">Bambi 淫女玩偶约束 <span class="badge bg-primary rounded-pill">10</span></div>
            Bambi Bimbodoll Conditioning
        </button>
        <button type="button" class="list-group-item list-group-item-action px-3 border-0">
            <div class="fw-bold">等待更新 <span class="badge bg-primary rounded-pill">0</span></div>
            Stay tuned
        </button>
    </div>

</div>